{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12 d-flex align-item-center justify-content-center">
        <div class="row mb-4 mt-4">
            <div class="card shadow mt-4 mb-4">
                <div class="card-header  py-3">
                  <h1 class="m-0 font-weight-bold text-primary">Ingrese el Monto a Depositar </h1>
                </div>
                <div class="card-body mt-4">
                    <form >
                      <div class="row mt-4">
                        
                        <div class="col mb-4">
                          
                          <div class="form-group">
                            <h1><input type="number" class="title text-center" name="Cantidad" placeholder="00.00" id="deposito" style="width: 300px; height: 100px;"></h1>
                          </div>
                        </div>
                        <div class="col mb-4">
                          <div class="form-group">
                            <h2><button id="btn-deposito" class="btn btn-info font-weight-bold d-flex align-items-center justify-content-center" style="padding-top: 35px; padding-left: 80px; padding-right: 80px; padding-bottom: 35px;" >Aceptar</button></h2>
                          </div>
                        </div>
                      </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">

        <!-- Illustrations -->
        
</div>

{% endblock content %}


{% block js %}
  <script src="{% static 'js/ajax.js' %}"></script>
{% endblock js %}